#Onboarding
#AWS
create_infra = true

#BIG-IP
create_bigip = false
create_ltm_config = false
create_awaf_config = false

#XC
create_xc_lb = false
create_xc_waf = false

#JuiceShop
create_juice_shop = false

#Global
project_prefix = "project prefix for tagging"
resource_owner = "owner"
admin_src_addr  = "MGMT source addr"

#AWS INFRA
aws_region     = "us-east-1"
azs           = ["us-east-1a", "us-east-1b"]
private_cidr_blocks = ["10.1.20.0/24", "10.1.120.0/24"]
public_cidr_blocks = ["10.3.10.0/24", "10.3.110.0/24"]

#BIG-IP
f5_ami_search_name = "F5 BIG-IP AMI"
ssh_key       = "Your SSH key"


#LTM
ltm_config_payload = "Location for LTM AS3 only use if not deploying AWAF"

#AWAF
awaf_config_payload = "Location for full AWAF AS3"

#XC GLobal
api_url = "F5XC tenant"
namespace = "XC namespace for deployment"
#Only needed if not using the CICD examples
api_cert = "F5XC api cert"
api_key = "F5XC api key"

#XC LB
app_domain = "DNS name of your app ex: petstore.example.com"
origin_server_dns_name = "DNS name of your origin ex: petstore.swagger.io"
dns_origin_pool = true

#XC WAF
xc_waf_name = "test-policy"
xc_waf_blocking = "Set blocking"

#Juice Shop
juice_shop_ip = "IP of Application server"

